/* body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page_container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
/* }
.title_section{ */
.title_section{
    text-align: center;
    margin-bottom: 40px;
}
.title_section>h1{
    font-size: 2em;
    margin-bottom: 10px;
}
.title_section p{
    font-size: 1.5em;
    color: #633e3e; */
}
.page_section{
    display: flex;
    overflow: hidden;
    position:relative;
}
.page_section>div{
    flex: 1;
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    position: relative;
}
.page_section h3{
    font-size: 1.5em;
    margin-bottom: 10px;
} 
.page_section p.ocuppation {
    font-size: 1.2em;
    color: #ebedd4;
    margin-bottom: 10px;
    font-style: italic;
    position: relative;    
}
.page_section>img{
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    size: 10px;

}
.page_section p.profile{
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}
.page_section a{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.5s ease;
}
.page_section a:hover{
    background-color:#0056b3;
    cursor: pointer;
}
.carousel{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-inner{
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-control{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carousel-control button {
    background-color: rgba(0,0,0,0.5);
    border: none;
    color:#fff;
    font-size: 2em;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}
.carousel-control button:hover{
    background-color:rgba(0,0,0,0.8) ;
}
