.page_section{
    overflow: hidden;
    width: 100%;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    /* background-color: red; */
}

.carousel_inner {
    display: grid;
    grid-auto-flow: column;
    transition: transform 0.5s ease;
    column-gap: 4em;
}

.carousel_card{
    background-color: #9e92f4;
    width: 20em;
    height: 28em;
    padding: 1em;
    text-align: center;
    border-radius: 0.5em;
}

.carousel_card>h3 {
    font-size: 2em;
    color: #413694;
}

.carousel_card>img {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    size: 10px;
}

.ocuppation{
    font-size: 1.2em;
    font-family: 'Rubik-Regular';
    color: #ebedd4;
    margin-bottom: 10px;
    font-style: italic;
}
.profile{
    font-family: 'Rubik-Regular';
    font-size: 0.9em;
    text-align: justify;
    color: #413694;
    height: 8em;
}

.carousel_card>a{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.4em;
    width: 100%;
    color: #fff;
    background-color: #6E54B5;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.5s ease;
}

.carousel-control{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carousel-control button {
    background-color: rgba(0,0,0,0.5);
    border: none;
    color:#fff;
    font-size: 2em;
    cursor: pointer;
    padding: 10px;
    border-radius: 0.5em;
}
.carousel-control button:hover{
    background-color:rgba(0,0,0,0.8) ;
}
