* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Jersey10';
    src: url('./assets/fonts/Jersey10-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('./assets/fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #6c5ce7;
    font-family: 'Jersey10', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

main {
    padding: 1em;
    text-align: center;
}

.page_container {
    display: grid;
    width: 100vw;
    height: fit-content;
    grid-template-areas:
        'header_section'
        'title_section'
        'page_section';
}

.header_section {
    grid-area: header_section;
}

.title_section {
    grid-area: title_section;
    padding: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    display: grid;
    row-gap: 1em;
}

.title_section h1 {
    font-family: 'Rubik-Regular';
    text-align: center;
    color: whitesmoke;
}

.title_section p {
    font-size: 1.1em;
    font-family: 'Rubik-Regular';
    color: rgb(222, 222, 222);

}

.page_section {
    grid-area: page_section;
    padding: 2em;
}